<RadSideDrawer>
  <FlexboxLayout tkDrawerContent class="drawer-container">
    <!-- .JA. Use nsRouterLink instead of the normal Angular routerLink
         here we use [clearHistory]="true" to avoid returning to this page again.
    -->
    <Button
      text="Logout"
      class="btn btn-primary btn-rounded-lg"
      nsRouterLink="/"
      [clearHistory]="true"
      (tap)="onLogout()"
    ></Button>
  </FlexboxLayout>
  <StackLayout tkMainContent>
    <!-- .JA. Changed to <page-router-outlet> instead of <router-outlet> in order the App can manage the pop / push of pages -->
    <page-router-outlet></page-router-outlet>
  </StackLayout>
</RadSideDrawer>
