<!--Exercise 1-->
<!--<FlexboxLayout flexDirection="row" justifyContent="space-between" alignItems="flex-start">-->
  <!--<Label id="i1" text="Item 1"></Label>-->
  <!--<Label id="i2" text="Item 2" alignSelf="flex-end"></Label>-->
  <!--<Label id="i3" text="Item 3"></Label>-->
<!--</FlexboxLayout>-->


<!--Exercise 2-->
<FlexboxLayout flexDirection="column" justifyContent="space-around" alignItems="center">
  <Label id="i1" text="Item 1"></Label>
  <Label id="i2" text="Item 2"></Label>
  <Label id="i3" text="Item 3"></Label>
</FlexboxLayout>



<!--Exercise 3-->
<!--<FlexboxLayout flexDirection="column" justifyContent="space-around">-->
  <!--<Label id="i1" text="Item 1"></Label>-->
  <!--<Label id="i2" text="Item 2"></Label>-->
<!--</FlexboxLayout>-->
