/* Add mobile styles for the component here.  */
GridLayout {
    border-color: green;
    border-width: 1;
}

label {
    /*width: 50;*/
    /*height: 50;*/
}

#i1 {
    background: red;
    border-bottom-width: 1;
    border-color: darkslategray;
    text-align: center;
}

#i2 {
    background: blue;
    border-bottom-width: 1;
    border-color: darkslategray;
    color: white;
    text-align: center;
}

#i3 {
    background: orange;
    border-bottom-width: 1;
    border-color: darkslategray;
    text-align: center;
}
